---
import icon from "@/images/theme-icon.svg";
import "@fontsource-variable/material-symbols-rounded";
import "@fontsource-variable/noto-sans-jp";
import "@fontsource-variable/noto-sans";
import "@fontsource/noto-color-emoji";
import "destyle.css";
import "@/styles/style.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);

const symbols = ["help", "history", "replay", "settings"];
const symbolsText = encodeURIComponent(symbols.join(""));
const titleText = title ? `${title} | Board Games` : "Board Games";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" type="image/svg+xml" href={icon.src} />
<link rel="canonical" href={canonicalUrl} />
<link rel="stylesheet" href=`https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0&text=${symbolsText}` />
<title>{titleText}</title>
