---
import icon from "../images/theme-icon.svg";
import { rootStyle } from "../styles/style.css.ts";

interface Props {
  title?: string;
}

const { title } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const titleText = title ? `${title} | Board Games` : "Board Games";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" type="image/svg+xml" href={icon.src} />
<link rel="canonical" href={canonicalUrl} />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@latest/destyle.min.css"/>
<title>{titleText}</title>

<body class={rootStyle} />
