---
import { h2Style } from "@/styles/common.css";
import { formStyle, settingListStyle, startButtonStyle } from "./style.css";

interface Props {
  readonly action: string;
}

const { action } = Astro.props;
---

<form action={action} class={formStyle}>
  <h2 class={h2Style}>Settings</h2>

  <dl class={settingListStyle}>
    <slot />
  </dl>

  <button class={startButtonStyle}>Start</button>
</form>
